BLUESKY_HANDLE_NSW=roundupnewsbotnsw.bsky.social
BLUESKY_PASSWORD_NSW=uiz2-yqs4-doxc-uo7m
BLUESKY_HANDLE_VIC=roundupnewsbotvic.bsky.social
BLUESKY_PASSWORD_VIC=esdi-vwhx-eujl-luk2
BLUESKY_HANDLE_QLD=roundupnewsbotqld.bsky.social
BLUESKY_PASSWORD_QLD=puw2-46da-fzpm-d4sh
BLUESKY_HANDLE_TAS=roundupnewsbottas.bsky.social
BLUESKY_PASSWORD_TAS=53pd-262q-ozs7-xj73
BLUESKY_HANDLE_ACT=roundupnewsbotact.bsky.social
BLUESKY_PASSWORD_ACT=x4su-mpkp-qdr4-icji
BLUESKY_HANDLE_ADMIN=jonathonmarsden.com
BLUESKY_PASSWORD_ADMIN=gars-eqs3-ruay-ym35
COUNCIL_BOT_PROXY=http://bgytwxqn-rotate:tu6y5apbawbi@p.webshare.io:80
COUNCIL_BOT_ROTATING_PROXY=http://bgytwxqn-rotate:tu6y5apbawbi@p.webshare.io:80
